logs/
*.log
venv/
output/
tools/*/output/
pc98msdos5/
disks/
*.o
*.exe
*.EXE
*.MAG
*.DAT
temp*.png
projects/*/assets/images/
core/build/
__pycache__/
bak-devdocs/
dist/
.opencode/
.mag_conv_state.json
*.hdi
*.pyc
*.rej
*.orig
*.pdf
games/
*.whl
*.tar.gz
*.sf2
core/ecg.err
.mimocode/
tools/mhvn_build/
tools_commercial/
tools_commercial.zip
